  
  <mat-card-content >

    <mat-expansion-panel hideToggle > 
      <mat-expansion-panel-header>
        <mat-panel-title>
          -Secciones:
        </mat-panel-title>
          
            <button mat-icon-button (click)="agregarSeccion()"> <!--Se abre cuadro para crear nueva seccion-->
                <mat-icon>add</mat-icon>
            </button>
            
      
      </mat-expansion-panel-header>
      
      <!--Se manda la seccion en sec233(esta en util-seccion-item) para recorrerla all -->
      <app-util-seccion-item *ngFor="let iterador of seccionesBUSCADAS" [sec233]=iterador
      (emitirEditar2)="editarSeccion($event)" (emitirEliminar2)="confirmarDialogo2($event)" >
      </app-util-seccion-item>
    
        
    </mat-expansion-panel>
  </mat-card-content>





    
<!--
{{secciones | json}}



<mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Destination
        </mat-panel-title>
        <button mat-icon-button >
              <mat-icon>add</mat-icon>
          </button>
        
        <mat-panel-description>
          Type the country name
          <mat-icon>map</mat-icon>
          
          </mat-panel-description>
      
      </mat-expansion-panel-header>
  </mat-expansion-panel>
-->
  
