<form [formGroup]="formSeccion">
    <input placeholder="nombre" type="text" formControlName="nombre" required>
    <br><br>
    <input placeholder="descripcion" type="text" formControlName="descripcion" required>
    <br>
    <br>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="aceptar()">Guardar</button>
    </div>
</form>
