
<app-barra titulo="Administración de locales" agregar="true" (emitirAgregar)="agregarLocal()"></app-barra>
{{locales | json}}

<br><br>

<!--
<app-util-local *ngFor="let item of locales" [local]="item" (emitirEditar)="editarLocal($event)"
  (emitirEliminar)="confirmarDialogo($event)" >
-->  
<app-util-local *ngFor="let item of locales" [local]="item" (emitirEditar)="editarLocal($event)"
  (emitirEliminar)="confirmarDialogo($event)" 
  >




<!--Recorrer las seccions aqui-->
