
<mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" >
                COMERCIO<br> <br>
                <button mat-button >Locales</button>
                <br>    
                <button mat-button >Secciones</button>
            </mat-drawer>
      <button type="button" mat-button (click)="drawer.toggle()">
        Menu
      </button>
    

    <app-barra titulo="Frontend Comercio"></app-barra>
    <router-outlet></router-outlet>
    <app-locales></app-locales>
    
  
  </mat-drawer-container>

  

