.example-container {
    width: 100%;
    height: 1000px;
    

    
  }
  
  .example-sidenav-content { 
    display: flex;
    height: 100%;
    align-items: left;
    justify-content: left;
    width: 100%;
  }
  
  .example-sidenav {
    padding: 50px;
    
  }