  <mat-accordion class="example-headers-align" >
      
        <mat-expansion-panel hideToggle [disabled]="true" class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <font color="black">
                        {{ sec233.nombre  }}
                    </font>
                </mat-panel-title>
                <font color="black">
                    <button mat-icon-button (click)="accionEditarSeccion()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="accionEliminarSeccion()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </font>
            </mat-expansion-panel-header>
         
        </mat-expansion-panel>
    </mat-accordion>
  