<!--
<mat-card *ngIf="local">
  <mat-card-content>
    {{ local.nombre }}
  </mat-card-content>
  <mat-card-actions align="end">
  
    <button mat-icon-button (click)="accionEditar()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="accionEliminar()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
-->
<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle >
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ local.nombre }}
            </mat-panel-title>
            <button mat-icon-button (click)="accionEditar()">
               <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="accionEliminar()">
              <mat-icon>delete</mat-icon>
            </button>
        </mat-expansion-panel-header>
          
       <!--Se manda el id del local a otra seccion para realizar la consulta--> 
       <app-util-seccion [seccionesABuscar]=local.id ></app-util-seccion>

       
    </mat-expansion-panel>
</mat-accordion>



<!-- 
  <button mat-icon-button ><mat-icon (click)="accionAgregar(local.nombre)">edit</mat-icon></button>
   
-->